.Square {
  width: 200px;
  height: 200px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.brown {
  background-color: brown;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.salmon {
  background-color: salmon;
}

.palegreen {
  background-color: palegreen;
}

.olive {
  background-color: olive;
}

.indianred {
  background-color: indianred;
}

.darkorange {
  background-color: darkorange;
}

.powderblue {
  background-color: powderblue;
}

.aquamarine {
  background-color: aquamarine;
}

.plum {
  background-color: plum;
}

.magenta {
  background-color: magenta;
}
